<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <title>{% block title %}My shop{% endblock %}</title>
  {% load static %}
  <link href="{% static "css/base.css" %}" rel="stylesheet">
</head>
<body>
  <div id="subheader">
  <a href="/"><img src="{% static "img/tshop.PNG" %}" width="50" height="50"></a>
    <div class="cart">
    <div id="login">
      {% if user.is_authenticated %}
      {{ user.get_username }}
      <a href="{% url 'logout' %}?next={{ next }}" style="color:white;">| Logout</a>
      {% else %}
      <a href="{% url 'login' %}?next={{ next }}" style="color:white;">Login</a>
      <a href="{% url 'register' %}?next={{ next }}" style="color:white;">| Sign Up</a>
      {% endif %}
    </div>
      {% with total_items=cart|length %}
          {% if cart|length > 0 %}
            Your cart:
            <a href="{% url "cart:cart_detail" %}" style="color:white;">
              {{ total_items }} item{{ total_items|pluralize }},
              ${{ cart.get_total_price }}
            </a>
          {% else %}
            <a href="{% url "cart:cart_detail" %}"><img src="{% static "img/cart.png" %}" width="35" height="35"></a>
          {% endif %}
        {% endwith %}
    </div>
  </div>
  <div id="content">
    {% block content %}
    {% endblock %}
  </div>
</body>
{% block footer %}
    {% include 'shop/footer.html' %}
{% endblock %}
</html>
